@import "../universal-files/reset-stylesheet";
@import "../universal-files/header";
@import "../universal-files/footer";

@keyframes left-to-right {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes right-to-left {
    0% {
        opacity: 0;
        transform: translateX(20%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bottom-up {
    0% {
        opacity: 0;
        transform: translateY(20%)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
/*início da estilização da seção de descrição do curso */
.sectionDescricao {
    min-height: 55vh;
    max-width: 100%;
    padding: 5% 10% 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
    flex-wrap: wrap;
    /*display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "container video";
    grid-gap: 5vh;
    align-items: center;*/
    
}

.containerDescricao {
    margin: 0;
    padding: 0;
    width: 42%;
    max-width: 500px;
    min-width: 300px;
    min-height: 32vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5vh;
    animation: left-to-right 1s ease-in;
    grid-area: container;
}

.h1tituloUXUi {
    color: $orangeColor;
    text-shadow: rgba(0, 0, 0, 0.18) 0px 5px 10px;
    margin: -1.5vh 0 0 0;
    font-weight: 700;
    font-size: 7vh;

    grid-area: titulo;

}

.pDescricao {
    margin: 0;
    font-weight: 400;
    font-size: 1.8vh;
    text-align: left;

    grid-area: texto;
}

.btnDescricao {
    width: 25vh;
    height: 5.5vh;
    font-weight: bold;
    color: $blackColor;
    background-color: $orangeColor;
    transition: 0.3s;
    border: 0;
    border-radius: 4px;
    font-size: 1.8vh;
    cursor: pointer;

    grid-area: botao;
}

.btnDescricao:hover {
    background-color: $blackColor;
    color: $orangeColor;
    font-size: 2vh;
    border: 0;
}


.videoContainer {
    .frameVideo {
        border-radius: 8px;
        height: 32vh;
        width: 512px;
        height: 288px;
    }
    
    animation: right-to-left 1s ease-in;
    grid-area: video;
}

/*início da seção de modalidades de curso*/

.sectionModalidades {
    height: 35vh;
    padding: 0 10% 5% 10%;
    min-width: 800px;
    @include flexCenter (row);
    animation: bottom-up 1s ease-in;
}

.bordaModalidade {
    height: 20vh;
    width: 100%;
    border:0.2vh solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: $boxShadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalidadeContainer {
    height: 100%;
    width: 25%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
    transition: 0.3s;
}

.modalidadeContainer:hover {
    margin: 0 -.2vh 0 -.2vh;
    background-color: $blackColor;
    color: $orangeColor;
    height: 110%;
    width: 27%;
    box-shadow: $boxShadow;
}
  

.hrModalidade {
    height: 60%;
    border-left: 0.2vh solid rgba(0, 0, 0, 0.5);
    border-right: transparent;
    border-top: transparent;
    margin: -.2vh;
}

.h3modalidade,
.pModalidade {
    margin: 0;
    padding: 0;
    align-self: center;
    text-align: center;
}

.h3modalidade  {
    font-weight: 500;
}

/*início seção de módulos */
.setionModulos{
    height: 130vh;
    padding: 0 10%;
    background-color: $blackColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
}

.containerModulo {
    max-width: 100%;
    min-width: 800px;
}

.h2Modulo {
    font-weight: 600;
    color: $offWhiteColor;
    text-shadow: $boxShadow;
    display: list-item;
    list-style-position: inside;
    counter-increment: heading-counter;
}

.h2Modulo::marker {
    content: "#" counter(heading-counter) " MÓDULO: ";
    color: $orangeColor;
    font-weight: bold;
}

.hrModulo {
    border-top: 0.2vh solid $orangeColor;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.pModulo {
    font-weight: 400;
    color: $offWhiteColor;
}

/*início da seção pagamentos */
.sectionPagamentos {
    height: 50vh;
    padding: 0 10% 5% 10%;
    background-color: $blackColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h2Pagamentos {
    color: $orangeColor;
    font-weight: 600;
    margin: 0;
}

.h3pagamentos {
    color: $offWhiteColor;
    font-weight: 400;
    margin: 0;
}

.containerPagamentos {
    display: flex;
    justify-content: space-between;
    gap: 3vh;
    margin-top: 2vh;
}

.cardPagamento {
    width: 40vh;
    min-width: 200px;
}

.h3cardPag {
    color: $offWhiteColor;
    font-weight: 500;
}

.pCardPag {
    color: $offWhiteDarker;
}

.btnPagamentos {
    width: 25vh;
    height: 5.5vh;
    font-weight: bold;
    color: $blackColor;
    background-color: $orangeColor;
    transition: 0.3s;
    border: 0;
    border-radius: 4px;
    font-size: 1.8vh;
    cursor: pointer;
}

.btnPagamentos:hover {
    background-color: transparent;
    border: 1px solid $orangeColor;
    color: $orangeColor;
    font-size: 2vh;
}

/* inicio da divsória entre a página e footer */

.sectionDivider {
    height: 0.5vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: $offWhiteColor;
}


/* MOBILE*/

@media only screen and (max-width: 850px) {
    body {
        width: 100%;
       
    }
    .sectionDescricao {
        width: 100%;
        height: auto;
        padding: 10% 5% 0 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 7vh;
    }

    .containerDescricao {
        gap: 3vh;
    }

    .pDescricao {
        font-size: 2.5vh;
        font-weight: 400;
    }

    .btnDescricao {
        font-size: 2.5vh;
    }

    .videoContainer {
        margin: 0; 
        .frameVideo {
            width: 90vw;
            height: 50.6vw;      
    }
    }

    /*seção das modalidades do curso*/
    .sectionModalidades {
        height: auto;
        width: 100%;
        margin: 10vh 0;
        padding: 0;
        min-width: 100%;
    }

    .bordaModalidade {
        width: 90%;
        height: auto;
        padding: 0;
        margin: 0;
        box-shadow: $boxShadow;
        border: 1px solid $blackColor;
        border-radius: 8px;
        display: flex;
        overflow-x: auto;
        white-space: nowrap;        
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
    }

    .hrModalidade {
        display: none;
    }

    .modalidadeContainer {
        height: 30vh;
        width: 100%;
        flex-shrink: 0;
        gap: 1vh;
        scroll-snap-align: start;
    }

  
    .h3modalidade {
        font-size: 4vh;
        color: $orangeColor;
        font-weight: 600;
    }

    .pModalidade {
        font-size: 2.5vh;
        font-weight: 400;
    }


    
    /*seção dos módulos*/
    .setionModulos {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 10% 5%;
    }

    .containerModulo {
        width: 100%;
        min-width: 0;
    }

    .h2Modulo {
        font-size: 4vh;
    }
    
    .h2Modulo::marker {
        font-size: 4vh;
    }

    .pModulo {
        font-size: 2.5vh;
    }

    /*seção pagamentos*/
    .sectionPagamentos {
        margin-top: -.2vh;
        height: auto;
        width: 100%;
        padding: 10% 5%;
    }

    .subPagamentos {
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }
    .h2Pagamentos {
        font-size: 4vh;
    }
    .h3pagamentos, .h3cardPag {
        font-size: 3.5vh;
    }

    .pCardPag {
        font-size: 2.5vh;
        font-weight: 400;
    }

    .containerPagamentos {
        display: flex;
        flex-direction: column;
    }

    .btnPagamentos {
        font-size: 2.5vh;
    }

    .sectionDivider {
        height: 5px;
    }

}