@import "./reset-stylesheet";

//container de todos os itens do footer
footer {
    height: 28vh;
    padding: 0 10%;
    background-color: $blackColor;
    display: flex;
    justify-content: space-between;
    gap: 5vh;
    color: $offWhiteColor;
}

.footercontainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.brandinfo {
    width: 30vh;
    display: flex;
    flex-direction: column;
    margin-top: 2.5vh;

    .logo {
        align-self: start;
    }
}
.socials {
    @include flexCenter (row);
    gap: 2vh;
    .socialicon {
        width: 2.5vh;
        height: auto;
    }
    align-self: start;
}

.listcontainerAB {
    margin-top: 2.5vh;
    margin-left: auto;
    display: flex;
    justify-content: center;
    gap: 5vh;
}

.listfooter {
    padding: 0;
    margin: 0;
}

#listA, #listB {
    display: flex;
    flex-direction: column;

    h4 {
        margin-bottom: 2vh;
    }
}

.linksListaA {
    font-size: 2vh;
    color: $offWhiteColor;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

.linksListaA:hover {
    color: $greenColor;
}

.itemsListaB {
    font-size: 2vh;
}

.listC {
    margin-top: 2.5vh;
    padding: 0;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2vh;   
}

.inputandbtn{
    display: flex;
    max-width: 100%;
}

#useremail {
    width: 80%;
}

.useremailbtn {
    width: 20%;
    border: transparent;
    background-color: $pinkColor;
    color: $offWhiteColor;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    font-size: 1.8vh;
    text-shadow: $boxShadow;
}

.useremailbtn:hover {
    color: $blackColor;
    cursor: pointer;
}

#useremail {
    border: .05vh solid $pinkColor;
    border-radius: 4px 0 0 4px;
}

.listCtitulo {
    margin: 2.5vh 0 2vh 0;
}

.listCtexto, .useremailbtn, .labelemail, #useremail {
    margin: 0
}



