@import "./reset-stylesheet";

//container de todos os itens do footer
footer {
    height: 28vh;
    padding: 0 10%;
    background-color: $blackColor;
    display: flex;
    justify-content: space-between;
    gap: 5vh;
    color: $offWhiteColor;
}

.footercontainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.brandinfo {
    width: 30vh;
    display: flex;
    flex-direction: column;
    margin-top: 2.5vh;

    .logo {
        align-self: start;
    }
}
.socials {
    @include flexCenter (row);
    gap: 2vh;
    align-self: start;    
    
    .socialicon {
        width: auto;
        height: 2.8vh;
        transition: transform 0.3s ease-in-out;
    }

    .socialicon:hover {
        transform: scale(1.2);
    }
}

.fa-github {
    color: $offWhiteColor;
    font-size: 2.8vh;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }

.listcontainerAB {
    margin-top: 2.5vh;
    margin-left: auto;
    display: flex;
    justify-content: center;
    gap: 5vh;
}

.listfooter {
    padding: 0;
    margin: 0;
}

#listA, #listB {
    display: flex;
    flex-direction: column;

    h4 {
        margin-bottom: 2vh;
    }
}

.linksListaA {
    font-size: 2vh;
    color: $offWhiteColor;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

.linksListaA:hover {
    color: $greenColor;
}

.itemsListaB {
    font-size: 2vh;
    color: $offWhiteColor;
}

.listC {
    margin-top: 2.5vh;
    padding: 0;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2vh;   
}

.inputandbtn{
    display: flex;
    max-width: 100%;
}

#useremail {
    width: 80%;
}

.useremailbtn {
    width: 20%;
    border: transparent;
    background-color: $pinkColor;
    color: $offWhiteColor;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    font-size: 1.8vh;
    text-shadow: $boxShadow;
}

.useremailbtn:hover {
    color: $blackColor;
    cursor: pointer;
}

#useremail {
    border: .05vh solid $pinkColor;
    border-radius: 4px 0 0 4px;
}

.listCtitulo {
    margin: 2.5vh 0 2vh 0;
}

.listCtexto, .useremailbtn, .labelemail, #useremail {
    margin: 0
}


/* MOBILE*/

@media only screen and (max-width: 850px) {
    .footercontainer {
        height: auto;
        margin: 0;
        padding: 0 5% 5% 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .logo, .logomobilefooter {
        height: 60px;
        width: auto;
        margin: 0 0 0 -3%;
    }

    .footerdescricao, .linksListaA, .itemsListaB, .listCtexto, .labelemail, a.itemsListaB {
        font-size: 2.5vh;
        font-weight: 400;
        color: $offWhiteColor;
    }

    .socials {
        display: flex;
        justify-content: flex-start;
        gap: 15px;
    }

    a, .a-icon {
        padding: 0;
    }

    .socialicon {
        margin: 0;
    }

    .listcontainerAB {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .h4titulos, .listCtitulo {
        font-size: 3vh;
    }

    .inputandbtn {
        height: 3vh;
        width: 100%;
    }
  
    .useremailbtn {
        width: auto;
        font-size: 2.2vh;
    }

}
