@import "./reset-stylesheet";


.headerMobile {
    display: none;
}
//container de todos os elemntos da header (logo, sign in/up e navbar)
.headercontainer {
    height: 15vh;
    width: 100vw;
    margin: 0;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $blackColor;
    //afasta a logo do topo da página em 1vh
    .logo {
        margin-top: 1vh;
    }
    a {
        color: $offWhiteColor;
    }
}

//edita a linha divisória horizontal
hr.solid {  
    width: 100%;
    border-top: 1px solid rgba(245, 245, 245, 0.1);
    margin: -1px;
  }

//edita as linhas divisórias verticais
  hr.hrmenu {  
    height: 50%;
    border-left: 1px solid rgba(245, 245, 245, 0.1);
    margin: -1px;
  }

//container dos itens superiores da header (logo, sign up e sign in) 
.topheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//edita a lista de sign up e sign in
.signlist {
    display: flex;
    gap: 4vh;
}

//navabar - menu de navegação
.mainmeu {
    height: 7vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vh;
    background-color: transparent;
}

.submenu {
    .cursoslist{
        display: none;
    }
    display: flex;
    flex-direction: column;
    padding: 0;
    font-size: 2vh;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    color: $offWhiteColor;
    background-color: transparent;
}

.submenu:hover {
    .cursoslist{
        display: block;
        position: absolute;
        text-align: center;
        align-self: center;
        padding: 2.5vh 0 0 0;
        margin-top: 2.5vh;
        background-color: $blackTransparent;
        .listitems{
            padding: 1vh 3vw;
            a {
                transition: all 0.5s ease 0s;
            }
            a:hover {
                color: $greenColor;
            }
        }
    }
    color: $greenColor;
    position: static;
}
//links presentas na header (tanto itens superiores como menu navbar)
.mainmenulink {
    text-decoration: none;
    transition: all 0.5s;
    background-color: transparent;
}

.mainmenulink:hover {
    color: $greenColor;
}

.signlink:hover {
    color: $greenColor;
}




/* incicio da estilização para mobile */

@media only screen and (max-width: 850px){

    .headercontainer {
        display: none;
    }

    .headerMobile {
        height: 60px;
        width: 100%;
        background-color: $blackColor;
        display: block;
        display: flex;
        align-items: center;
        /*@include flexSpacebetween(row);*/ 
    }

    .logomobile {
        height: 55px;
        width: auto;
        position: absolute;
        left: 10px;
    }

    .menuicon {
        position: absolute;
        right: 10px;
        @include flexCenter (column);
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 3px;
        background-color: $offWhiteColor;
        margin: 5px 0;
        transition: 0.4s;
    }
        
    /* animaçao barras do menu */
    .change .bar1 {
    transform: translate(0, 13px) rotate(-45deg);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
    transform: translate(0, -13px) rotate(45deg);
    }

    /*lista de links no menu mobile escondido*/
    .mobilelist {
        margin: 0;
        padding: 0;
        width: 100%;
        position: absolute;
        top: 55px;
        background-color: $darkGrey;
        @include flexCenter (column);
    }

    .mobilelinks {
        width: 100%;
        font-size: 2vh;
        margin: 0;
        padding: 4%;
        background-color: $darkGrey;
    }

    a {
        color: $offWhiteColor;
        padding: 2% 80% 2% 5%;
    }

    a:active {
        color: $pinkColor;
    }
    
    a[tabindex]:focus {
        color:$pinkColor;
        outline: none;
    }


    li:active {
        background-color: $blackColor
    }
    
    li[tabindex]:focus {
        background-color:$blackColor;
    }
    
}