@import "./reset-stylesheet";

.logo {
    height: 6vh;
    width: auto;
}

header {
    height: 14vh;
    margin: 0;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $blackColor;
    a {
        color: $offWhiteColor;
    }
}

hr.solid {  
    width: 100%;
    border-top: 1px solid rgba(245, 245, 245, 0.1);
  }

  hr.hrmenu {  
    height: 50%;
    border-left: 1px solid rgba(245, 245, 245, 0.1);
  }

.topheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signlist {
    display: flex;
    gap: 4vh;
}

.mainmeu {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vh;
    background-color: $blackColor;
}

a {
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

a:hover {
    color: $greenColor;
}
