@import url('http://fonts.cdnfonts.com/css/barlow');

$pinkColor: #E54190;
$darkPink: #99004a;
$greenColor: #00b3aa;
$orangeColor: #FE9434;
$offWhiteColor: #F5F5F5;
$blackColor: #000000;
$darkGrey: #303030;
$midiumGrey: #bbbbbb;
$offWhiteDarker: #DADBDD;
$blackTransparent:rgba(0, 0, 0, 0.7);
$boxShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$boxShadowPink: rgba(229, 65, 144, 0.35) 0px 5px 15px;

/*body::-webkit-scrollbar {
    width: 10px;
    background-color: #000000;
}*/

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-40%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

@mixin flexSpacebetween($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: space-between;
}

@mixin flexSpaceevenly($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: space-evenly;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-color: $offWhiteColor;
    counter-reset: heading-counter;
}


//tamanho da logo
.logo {
    height: 7vh;
    width: auto;
}

ul {
    list-style-type: none;
}

h1 {
    margin: 0;
    color: $offWhiteColor;
    font-weight: 700;
    text-shadow: $boxShadow;
    font-size: 7vh;
}

h2 {
    font-size: 3vh;
    font-weight: 400;
}

h3 {
    font-size: 2.5vh;
    font-weight: 400;
}

h4 {
    font-size: 2vh;
    font-weight: 500;
}

.pTitulo {
    font-size: 2vh;
    text-align: center;
    color: $offWhiteColor;
    width: 42vh;
    font-weight: 400;
    margin: 0;
}

p {
    font-size: 2vh;
    font-weight: 300;
}

a {
    font-size: 2vh;
    text-decoration: none;
} 

label {
    font-size: 2vh;
}
/*transição de scroll da página*/
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1.2s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  /*transição de scroll da página mobile
.revealmobile{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1.2s all ease;
  }
  
  .revealmobile.active{
    transform: translateY(0);
    opacity: 1;
  }*/