@import "../universal-files/reset-stylesheet";
@import "../universal-files/header";
@import "../universal-files/footer";

/* início da estilização do call to action, abaixo do menu nav */
section#action {
    height: 70vh;
    width: auto;
    padding: 0 10%;
    background-image: url(../../img/landing-page/background-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    @include flexCenter (column);


    p {
        text-align: center;
        color: $offWhiteColor;
        width: 42vh;
        font-weight: 400;
        margin: 0;
    }

    #fadetitles {
        animation: fade-in 0.8s ease-in;
    }

    /* botão 'call to action' */
    button {
        margin-top: 3vh;
        width: 28vh;
        height: 7vh;
        font-weight: bold;
        border: .3vh solid $pinkColor;
        color: $pinkColor;
        background-color: rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        border-radius: 4px;
        font-size: 1.8vh;
        text-shadow: $boxShadow;
        cursor: pointer;
    }

    button:hover {
        background-color: $pinkColor;
        color: $offWhiteColor;
        font-size: 2vh;
    }

    @media (max-width: 1099px) {
        height: 90vh;
    }
}

.menucentral {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 18vh;
    width: 80vw;
    margin: -9vh 0 4.5vh 9vw;
    padding: 0;
    border-radius: 8px;
    background-color: $pinkColor;
    box-shadow: $boxShadow;
}

.itemMenuCentral {
    @include flexCenter (column);
    width: 20%;
    height: 100%;
    padding: 2%;
    border-radius: 8px;
    color: $offWhiteColor;
    text-align: center;
    font-weight: 500;
    font-size: 2vh;
    transition: 0.3s;
}

.itemMenuCentral:hover {
    background-color: $offWhiteColor;
    color: $pinkColor;
    height: 110%;
    width: 22%;
    box-shadow: $boxShadow;   
}

.hrmenucentral {
    height: 50%;
    border-left: 1px solid rgba(245, 245, 245, 0.1);
    margin: -1px;
}

/* início da estilização da seção 1 - personalize o aprendizado */
.section1 {
    height: 90%;
    width: 100%;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    justify-content: space-evenly;
}

.h2section1 {
    color: $blackColor;
    margin: 0;
    font-weight: 600;
    text-shadow: $boxShadow;
}

/*contém todos os cards com valores */
.containervalores {
    height: 90%;
    width: 100%;
    padding: 3% 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vh;
}

/*cards de valores */
.valores {
    height: 35vh;
    width: 50vh;
    padding: 0;
    margin: 0;
    border-radius: 8px;
    background-color: $offWhiteColor;
    border: 0.1vh solid $blackColor;
    box-shadow: $boxShadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h3valores {
    color: $offWhiteColor;
    margin: 0;
    font-weight: 500;
}

.h3holder {
    background-color: $blackColor;
    width: 100%;
    height: 6vh;
    border-radius: 6px 6px 0 0;
    margin: 0;
    padding-left: 5%;
    display: flex;
    align-items: center;
    align-self: flex-start;
}

.descricaovalor {
    padding: 5%;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: initial;
}

.listavalores {
    color: $blackColor;
    width: 43%;
    margin: 0;
    padding: 0;   
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: 450;
    font-size: 1.8vh;
    gap: 1vh;
}


.imgvalores {
    object-fit: cover;
    width: 22vh;
    height: 22vh;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
}

/* início da estilização da seção 2 - avaliações */

.section2 {
    height: 100vh;
    width: 100%;
    padding: 5% 10%;
    background-color: $pinkColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    justify-content: space-evenly;
}

.h2avaliacoes {
    color: $offWhiteColor;
    margin: 0;
    font-weight: 600;
    text-shadow: $boxShadow;
    text-align: left;
}

/*container dos cards de avaliação*/
.avalcontainer {
    height: 90%;
    width: 100%;
    padding: 3% 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vh;
    
}

/*cards de avaliação*/
.articleaval {
    height: 30vh;
    width: 45vh;
    padding: 0;
    margin: 0;
    border-radius: 8px;
    background-color: transparent;
    border: 0.2vh solid $offWhiteColor;
    box-shadow:  rgba(245, 245, 245, 0.5) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2vh;
}
 
/*
#avalD {
    align-self: left;
}

#avalA {
    margin-left: auto;
} */

.avalimg {
    object-fit: cover;
    width: 21vh;
    height: 100%;
    border-radius: 8px 0 0 8px;
    margin: 0;
}

.containeraluno {
    color: $blackColor;
    width: 40%;
    margin-right: 2vh;
    padding: 0;   
    text-align: left;
    font-weight: 450;
    @include flexSpacebetween (column);
    gap: 3.5vh;
}

.h3aval {
    margin: 0;
    font-weight: 500;
    color: $offWhiteColor;
}

.avaltexto {
    margin: 0;
    color: $offWhiteColor;
    font-weight: 400;
}

