@charset "UTF-8";
@import url("http://fonts.cdnfonts.com/css/barlow");
@import url("http://fonts.cdnfonts.com/css/barlow");
@import url("http://fonts.cdnfonts.com/css/barlow");
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  background-color: #F5F5F5;
  counter-reset: heading-counter;
}

.logo {
  height: 7vh;
  width: auto;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 3.5vh;
  font-weight: 500;
}

h2 {
  font-size: 3vh;
  font-weight: 400;
}

h3 {
  font-size: 2.5vh;
  font-weight: 400;
}

h4 {
  font-size: 2vh;
  font-weight: 500;
}

p {
  font-size: 2vh;
  font-weight: 300;
}

a {
  font-size: 2vh;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  background-color: #F5F5F5;
  counter-reset: heading-counter;
}

.logo {
  height: 7vh;
  width: auto;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 3.5vh;
  font-weight: 500;
}

h2 {
  font-size: 3vh;
  font-weight: 400;
}

h3 {
  font-size: 2.5vh;
  font-weight: 400;
}

h4 {
  font-size: 2vh;
  font-weight: 500;
}

p {
  font-size: 2vh;
  font-weight: 300;
}

a {
  font-size: 2vh;
  text-decoration: none;
}

header {
  height: 15vh;
  width: 100vw;
  margin: 0;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
header .logo {
  margin-top: 1vh;
}
header a {
  color: #F5F5F5;
}
@media (max-width: 1100px) {
  header {
    display: none;
  }
}

hr.solid {
  width: 100%;
  border-top: 1px solid rgba(245, 245, 245, 0.1);
  margin: -1px;
}

hr.hrmenu {
  height: 50%;
  border-left: 1px solid rgba(245, 245, 245, 0.1);
  margin: -1px;
}

.topheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signlist {
  display: flex;
  gap: 4vh;
}

.mainmeu {
  height: 7vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2vh;
  background-color: transparent;
}

.submenu {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-size: 2vh;
  text-decoration: none;
  transition: all 0.5s ease 0s;
  color: #F5F5F5;
  background-color: transparent;
}
.submenu .cursoslist {
  display: none;
}

.submenu:hover {
  color: #00D4C8;
  position: static;
}
.submenu:hover .cursoslist {
  display: block;
  position: absolute;
  text-align: center;
  align-self: center;
  padding: 2.5vh 0 0 0;
  margin-top: 2.5vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.submenu:hover .cursoslist .listitems {
  padding: 1vh 3vw;
}
.submenu:hover .cursoslist .listitems a {
  transition: all 0.5s ease 0s;
}
.submenu:hover .cursoslist .listitems a:hover {
  color: #00D4C8;
}

.mainmenulink {
  text-decoration: none;
  transition: all 0.5s ease 0s;
  background-color: transparent;
}

.mainmenulink:hover {
  color: #00D4C8;
}

.signlink:hover {
  color: #00D4C8;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  background-color: #F5F5F5;
  counter-reset: heading-counter;
}

.logo {
  height: 7vh;
  width: auto;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 3.5vh;
  font-weight: 500;
}

h2 {
  font-size: 3vh;
  font-weight: 400;
}

h3 {
  font-size: 2.5vh;
  font-weight: 400;
}

h4 {
  font-size: 2vh;
  font-weight: 500;
}

p {
  font-size: 2vh;
  font-weight: 300;
}

a {
  font-size: 2vh;
  text-decoration: none;
}

footer {
  height: 28vh;
  padding: 0 10%;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  gap: 5vh;
  color: #F5F5F5;
}

.footercontainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.brandinfo {
  width: 30vh;
  display: flex;
  flex-direction: column;
  margin-top: 2.5vh;
}
.brandinfo .logo {
  align-self: start;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  align-self: start;
}
.socials .socialicon {
  width: 2.5vh;
  height: auto;
}

.listcontainerAB {
  margin-top: 2.5vh;
  margin-left: auto;
  display: flex;
  justify-content: center;
  gap: 5vh;
}

.listfooter {
  padding: 0;
  margin: 0;
}

#listA, #listB {
  display: flex;
  flex-direction: column;
}
#listA h4, #listB h4 {
  margin-bottom: 2vh;
}

.linksListaA {
  font-size: 2vh;
  color: #F5F5F5;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

.linksListaA:hover {
  color: #00D4C8;
}

.itemsListaB {
  font-size: 2vh;
}

.listC {
  margin-top: 2.5vh;
  padding: 0;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2vh;
}

.inputandbtn {
  display: flex;
  max-width: 100%;
}

#useremail {
  width: 80%;
}

.useremailbtn {
  width: 20%;
  border: transparent;
  background-color: #E54190;
  color: #F5F5F5;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  font-size: 1.8vh;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.useremailbtn:hover {
  color: #000000;
  cursor: pointer;
}

#useremail {
  border: 0.05vh solid #E54190;
  border-radius: 4px 0 0 4px;
}

.listCtitulo {
  margin: 2.5vh 0 2vh 0;
}

.listCtexto, .useremailbtn, .labelemail, #useremail {
  margin: 0;
}

/* início da estilização do call to action, abaixo do menu nav */
section#action {
  height: 50vh;
  width: auto;
  padding: 0 10%;
  background-image: url(../../img/landing-page/background-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* botão 'call to action' */
}
section#action h1 {
  color: #F5F5F5;
  margin: 0;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
section#action p {
  text-align: center;
  color: #F5F5F5;
  width: 42vh;
  font-weight: 400;
  margin: 0;
}
section#action button {
  margin-top: 3vh;
  width: 42vh;
  height: 8vh;
  font-weight: bold;
  border: 0.3vh solid #E54190;
  color: #E54190;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  border-radius: 4px;
  font-size: 1.8vh;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
section#action button:hover {
  background-color: #E54190;
  color: #F5F5F5;
  font-size: 2vh;
}
@media (max-width: 1099px) {
  section#action {
    height: 90vh;
  }
}

.menucentral {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 18vh;
  width: 80vw;
  margin: -9vh 0 4.5vh 9vw;
  padding: 0;
  border-radius: 8px;
  background-color: #E54190;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.itemMenuCentral {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  padding: 2%;
  border-radius: 8px;
  color: #F5F5F5;
  text-align: center;
  font-weight: 500;
  font-size: 2vh;
  transition: 0.3s;
}

.itemMenuCentral:hover {
  background-color: #F5F5F5;
  color: #E54190;
  height: 110%;
  width: 22%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hrmenucentral {
  height: 50%;
  border-left: 1px solid rgba(245, 245, 245, 0.1);
  margin: -1px;
}

/* início da estilização da seção 1 - personalize o aprendizado */
.section1 {
  height: 90%;
  width: 100%;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  justify-content: space-evenly;
}

.h2section1 {
  color: #000000;
  margin: 0;
  font-weight: 600;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*contém todos os cards com valores */
.containervalores {
  height: 90%;
  width: 100%;
  padding: 3% 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 5vh;
}

/*cards de valores */
.valores {
  height: 35vh;
  width: 50vh;
  padding: 0;
  margin: 0;
  border-radius: 8px;
  background-color: #F5F5F5;
  border: 0.1vh solid #000000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h3valores {
  color: #F5F5F5;
  margin: 0;
  font-weight: 500;
}

.h3holder {
  background-color: #000000;
  width: 100%;
  height: 6vh;
  border-radius: 6px 6px 0 0;
  margin: 0;
  padding-left: 5%;
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.descricaovalor {
  padding: 5%;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: initial;
}

.listavalores {
  color: #000000;
  width: 43%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 450;
  font-size: 1.8vh;
  gap: 1vh;
}

.imgvalores {
  -o-object-fit: cover;
     object-fit: cover;
  width: 22vh;
  height: 22vh;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
}

/* início da estilização da seção 2 - avaliações */
.section2 {
  height: 100vh;
  width: 100%;
  padding: 5% 10%;
  background-color: #E54190;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  justify-content: space-evenly;
}

.h2avaliacoes {
  color: #F5F5F5;
  margin: 0;
  font-weight: 600;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*container dos cards de avaliação*/
.avalcontainer {
  height: 90%;
  width: 100%;
  padding: 3% 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 5vh;
}

/*cards de avaliação*/
.articleaval {
  height: 30vh;
  width: 45vh;
  padding: 1%;
  margin: 0;
  border-radius: 8px;
  background-color: transparent;
  border: 0.2vh solid #F5F5F5;
  box-shadow: rgba(245, 245, 245, 0.5) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2vh;
}

/*
#avalD {
    align-self: left;
}

#avalA {
    margin-left: auto;
} */
.avalimg {
  -o-object-fit: cover;
     object-fit: cover;
  width: 20vh;
  height: 25vh;
  border-radius: 4px;
}

.containeraluno {
  color: #000000;
  width: 40%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: fstart;
  text-align: left;
  font-weight: 450;
  gap: 1vh;
}

.h3aval {
  margin: 0;
  font-weight: 500;
  color: #F5F5F5;
}

.avaltexto {
  margin: 0;
  color: #F5F5F5;
  font-weight: 400;
}/*# sourceMappingURL=landing-stylesheet.css.map */