@import "../universal-files/reset-stylesheet";
@import "../universal-files/header";
@import "../universal-files/footer";

/* início da estilização do call to action, abaixo do menu nav */
section#action {
    height: 70vh;
    width: 100%;
    padding: 0 10%;
    background-image: url(../../img/landing-page/background-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    @include flexCenter (column);


    p {
        text-align: center;
        color: $offWhiteColor;
        width: 42vh;
        font-weight: 400;
        margin: 0;
    }

    #fadetitles {
        animation: fade-in 0.8s ease-in;
    }
}

/* botão 'call to action' */
.cadastre {
    margin-top: 3vh;
    width: 28vh;
    height: 7vh;
    font-weight: bold;
    border: .3vh solid $pinkColor;
    color: $pinkColor;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    border-radius: 4px;
    font-size: 1.8vh;
    text-shadow: $boxShadow;
    cursor: pointer;
}

.cadastre:hover {
    background-color: $pinkColor;
    color: $offWhiteColor;
    font-size: 2vh;
}

.menucentral {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 18vh;
    width: 80%;
    margin: -9vh 10% 0 10%;
    padding: 0;
    border-radius: 8px;
    background-color: $pinkColor;
    box-shadow: $boxShadow;
}

.itemMenuCentral {
    @include flexCenter (column);
    width: 20%;
    height: 100%;
    padding: 2%;
    border-radius: 8px;
    color: $offWhiteColor;
    text-align: center;
    font-weight: 500;
    font-size: 2vh;
    transition: 0.3s;
}

.itemMenuCentral:hover {
    background-color: $offWhiteColor;
    color: $pinkColor;
    height: 110%;
    width: 22%;
    box-shadow: $boxShadow;   
}

.hrmenucentral {
    height: 50%;
    border-left: 1px solid rgba(245, 245, 245, 0.1);
    margin: -1px;
}

/* início da estilização da seção 1 - personalize o aprendizado */
.section1 {
    height: 70vh;
    width: 100%;
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
}

.videoContainer {
    .frameVideo {
        border-radius: 8px;
        height: 36vh;
        width: 64vh;
    }
}

.section1descricao{
    height: 36vh;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h3section1 {
    color: $blackColor;
    margin: 0;
    font-weight: 600;
    text-shadow: $boxShadow;
}

.pSection1 {
    margin: 1vh 0 0 0;
    font-weight: 400;
}

/* inicio da seção 2 */
.section2 {
    height: 70vh;
    width: 100%;
    padding: 5% 10%;
    background-color: $blackColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
}

.textCombo2 {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.h2section2 {
    color: $pinkColor;
    margin: 0;
    font-weight: 600;
}

.pSection2 {
    color: $offWhiteColor;
    margin: 0;
    font-weight: 400;
}

.btnSection2 {
    width: 28vh;
    height: 7vh;
    font-weight: bold;
    border: .3vh solid $pinkColor;
    color: $pinkColor;
    background-color:transparent;
    transition: 0.3s;
    border-radius: 4px;
    font-size: 1.8vh;
    cursor: pointer;
}

.btnSection2:hover {
    background-color: $pinkColor;
    color: $offWhiteColor;
    font-size: 2vh;
}

.imgsection2 {
    height: 50vh;
    width: auto;
}

/* início da estilização da seção 3 - avaliações */

.section3 {
    height: auto;
    width: 100%;
    padding: 5% 10%;
    background-color: $pinkColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    justify-content: space-evenly;
}

.h2avaliacoes {
    color: $offWhiteColor;
    margin: 0;
    font-weight: 600;
    text-shadow: $boxShadow;
    text-align: left;
}

/*container dos cards de avaliação*/
.avalcontainer {
    height: auto;
    width: 100%;
    padding: 3% 0;
    margin: 0;
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;        
    overflow-y: hidden;
    gap: 5vh;
    scroll-snap-type: x mandatory;

    
}

/* height */
.avalcontainer::-webkit-scrollbar {
    height: 20px; 
  }
  
  /* Track */
.avalcontainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $offWhiteColor; 
    border-radius: 10px;
  }
   
  /* Handle */
.avalcontainer::-webkit-scrollbar-thumb {
    background: rgba(245, 245, 245, 0.5); 
    border-radius: 10px;
  }
  
  /* Handle on hover*/ 
.avalcontainer::-webkit-scrollbar-thumb:hover {
    background: $offWhiteColor; 
  }

.avalcontainer::-webkit-scrollbar-button:single-button:horizontal:increment {
    width: 20px;
    border-radius: 50%;
    box-shadow: inset 0 0 5px $offWhiteColor; 
    background-position: center;
    background-image: url('data:image/svg+xml;utf8,<svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16"> <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" fill="rgba(245, 245, 245, 0.7)"></path></svg>');
  } 

 .avalcontainer::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
    background: rgba(245, 245, 245, 0.5);
    background-position: center;
    background-image: url('data:image/svg+xml;utf8,<svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16"> <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" fill="rgb(245, 245, 245)"></path></svg>');
 }
 
 .avalcontainer::-webkit-scrollbar-button:single-button:horizontal:decrement {
    width: 20px;
    border-radius: 50%;
    box-shadow: inset 0 0 5px $offWhiteColor; 
    background-position: center;
    background-image: url('data:image/svg+xml;utf8,<svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16"> <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" fill="rgba(245, 245, 245, 0.7)"></path> </svg>');
  } 

  .avalcontainer::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
    background: rgba(245, 245, 245, 0.5);
    background-position: center;
    background-image: url('data:image/svg+xml;utf8,<svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16"> <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" fill="rgb(245, 245, 245)"></path> </svg>');
  }
  
.cardAvaliacao {
    height: 46vh;
    width: 38vh;
    margin: 0;
    padding: 1.5vh;
    border: 0.2vh solid $offWhiteColor;
    border-radius: 8px;
    box-shadow:  rgba(245, 245, 245, 0.25) 5px 5px 5px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    scroll-snap-align: start;
}

.cabecalhoCardAvaliacao {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tituloEestrelasCabecalho {
    display: flex;
    flex-direction: column;
    gap: .5vh;
}
.h3nomealuno, .pDescricaoAvaliacao {
    margin: 0;
    color: $offWhiteColor;
}

.h3nomealuno {
    font-weight: 600;
}

.pDescricaoAvaliacao {
    font-weight: 400;
    white-space: normal;
}

.checked {
    color: $orangeColor;
    text-shadow: $boxShadow;
}

.unchecked {
    color: rgba(245, 245, 245, 0.5);
    text-shadow: $boxShadow;
}

.imgAvaliacao {
    object-fit: cover;
    width: 11vh;
    height: 11vh;
    box-shadow:  rgba(245, 245, 245, 0.5) 0px 5px 15px;
    border-radius: 50%;
}

.pAvaliacao {
    font-weight: 400;
    color: $offWhiteColor;
    white-space: normal;
}


/* MOBILE*/

@media only screen and (max-width: 850px) {
    body {
        height: auto;
    }

    .sectionCallToAction{
        max-height: 250px;
        width: 100%;
        padding: 10% 5%;
        margin: 0;
        @include flexCenter (column);
        gap: 1.5vh;
    }

    .cadastre {
        height: 7vh;
        width: 90%;
        font-size: 2vh;
        margin: 0;
    }

    .pTitulo {
        font-size: 2vh;
        font-weight: 400;
    }

    .calltoaction {
        font-size: 4vh;
        text-align: center;
    }
/*Barra menu central com valores*/
    .menucentral {
        width: 90%;
        height: auto;
        padding: 0;
        margin: 10% 5%;
        display: flex;
        overflow-x: auto;
        white-space: nowrap;        
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
    }

    .itemMenuCentral {
        height: 25vh;
        width: 100%;
        flex-shrink: 0;
        gap: 1vh;
        scroll-snap-align: start;
        font-size: 3vh;
        white-space: normal;
    }

    .hrmenucentral {
        display: none;
    }

    /*seção 1 com vídeo e propostas*/

    .section1 {
        height: auto;
        width: 100%;
        padding: 10% 5%;
        margin: 0;
        @include flexCenter (column);
    }

    .videoContainer {
        margin: 0 0 10% 0; 
        .frameVideo {
            width: 90vw;
            height: 50.6vw;      
    }
    }
    
    .section1descricao{
        height: auto;
        gap: 2vh;
    }

    .h3section1 {
        font-size: 4vh;
        font-weight: 600;
    }

    .pSection1 {
        font-size: 2.5vh;
        font-weight: 400;
    }

    /*seção 2 com mercado TI*/

    .section2 {
        height: auto;
        width: 100%;
        padding: 10% 5%;
        margin: 0;
        @include flexCenter (column);

    }

    .h2section2 {
        font-size: 4vh;
        font-weight: 600;
    }

    .pSection2 {
        font-size: 2.5vh;
        font-weight: 400;
    }

    .btnSection2 {
        height: 7vh;
        width: 70%;
        font-size: 2vh;
        margin: 0;
    }

    .imgsection2 {
        transform: scaleX(-1);
        width: 90%;
        height: auto;
        margin: 5% 0 0 0;
    }

    /*seção 3 com avaliaçoes*/

    .h2avaliacoes {
        font-size: 4vh;
        font-weight: 600;
    }

    .cardAvaliacao {
        width: 100%;
        height: auto;
    }

    .avalcontainer::-webkit-scrollbar {
        display: none;
      }
}